:root {
    --primary-color: #79031D;
    --primary-colorlight: rgba(121, 3, 29, 0.25);
    --secondary-color: #000407;
    --secondary-colorlight: rgba(0, 4, 7, 0.5);
    --usecase-color: #f5f7f7;
    --design-color: #EDB518;
    --font-bai: 'Bai Jamjuree', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-satisfy: 'Satisfy', cursive;
    
}


*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.card-br {
    border-radius: 7.5px;
}

.btn a {
    color: var(--secondary-color);
    letter-spacing: 1.3px;


}

.btn {
    width: 7.5rem;
    height: auto;
    border: none;
    background: #EDB518;
    padding: 10px 15px;
    margin-top: 12px;
    border-radius: 4px;
}

.btn-price a {
    color: var(--design-color);
    letter-spacing: 1.3px;
    transition: all 2s;
}


.btn-price {
    width: 7.5rem;
    height: auto;
    background: transparent;
    border: #EDB518 solid 2px;
    padding: 8px 18px;
    margin-top: 12px;
    border-radius: 4px;
}



