@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
.swiper {
    width: 50%;
    height: 450px;
    z-index: -13;
    border: #e60000 solid 2px;
    border-radius: 1em;
    margin-top: 1em;
}
.swiper-slide{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    background: #e60000;
    color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 45, 95) ;
}



.navlist {
    display: flex;
    align-items: center;
}

 .navlist li {
    list-style: none;
}
.navlist li a {
    text-decoration: none;
    padding: 0.75em;
    color: #fff;
    font-size: 1.3em;
    transition: 0.25s;
}

 .navlist li:hover {
    background: rgb(66, 45, 170);
    color: #000;
    border-bottom: 3.5px #e60000 solid;
}
.logo-anchor {
    margin: 0.5em;
}

.logo-name, .logo-name span {
    text-decoration: none;    
}

.menu-togle {
    display: none;
    padding: 1.3em;
    /* border: red solid 3px; */
}

.logo-img {
    width: 2.5em;
    height: 2.5em;
}

.top_contact {
    background:rgba(255, 255, 255, 0.75);
    padding: 0.75em;
    margin-right: 1em;
    border-radius: 0.75em;
}

/* --------main styling-------------- */

.slider_one {
    background-image: linear-gradient(65deg, #00a 50%, rgba(0, 0, 187, 0.16) -30%), url("images/first-img.jpg");
    background-origin:  padding-box; 
    background-position:  center;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-top: 3em;
    padding: 1.7em;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    height: 100vh;
    line-height: 1.5;
}

.slider_one h1{
    margin: 1em auto;
    font-size: 2.35em;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
}

.slider_one ul {
    font-size: 1.2em;
}

/* =-=-=-=-buttons styles=-=-=-=-=-=- */
.btn-us{
    background: #25D366;
    outline: none;
    border: none;
    margin-top: 1.85em;
}
.action-btn {
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.cta-1 button {
    width: 190px;
    height: 37px;
    padding: 0.75em 1.5em;
    margin: 2em 1em 0 1em;
    border: none;
    border-radius: 68px;
    background: rgba(230, 0, 0, 0.94);
    color: #fff;
}

.cta-1 button a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.4em;

}
/* =-=-=-=-=-=-=-=-=cta section styles stars-=-=-=-=-=-=-=-=-=-=- */

.cta-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    line-height: 1.5rem;
    margin: auto;
} 

.cta-img{
    border-radius: 8px;
    width: 25em;
    height: 25em;
}

.cta-sect .cta-wrapper p {
    padding: 2% 10%;
    margin: 0.75em auto;
}

.cta-wrapper .cta-1{
    line-height:1.65em;
    border-radius: 4px; 
    color:#fff; 
    width: 30em; 
    margin: auto; 
    padding: 1.5em;
     background: #1a1aff; text-align:center; 
    font-size: 1.5rem; 
}
 
/* -----==-=-====Slider_two styles starts here====-=-=-=-=-=-=-= */

  .slider_two {
      display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background: rgb(5, 18, 49);
      color: #fff;
      padding: 3em;
      
  }
  .swipe_msg_two h2 {
      color: #e60000;
      text-align: center;
  }
  .swipe_msg_two h4 {
      color: #FFbC00;
      text-align: center;
  }
  .slider_two img{
      width: 400px;
  } 

  .swipe_msg_two{
    margin-right: 1em;
}

.swipe_msg_two ul li {
    margin: 0.75em 0;

}
 /* ========== slider_three style starts here ========-= */
 .slider_three {
     /* width: 50%; */
     margin: auto;
 }

.swipe_msg_three {
    padding: 1.25em;
    
}

.slider_three figure{
    display: flex;
    gap: 18px;
}
.swipe_msg_three img {
    position: relative;
    width: 50%;
    height: 33em; 
    border-radius: 0.45em;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.54);  
    animation: move3 1.35s 1; 
    z-index: -2;
}

@keyframes move3 {
    from{left: -2px;}
    to{left: 507px}
    
    
}

.swipe_msg_three h2, .swipe_msg_three p {
    text-align: center;
    margin: 0.75em;
}


/* =================Our Product styles stars  ============== */

.our-prd {
    text-align: center;
}
 
/* --------- Our Products section ---------- */

                .divider2 {
                    width: 450px;
                    height: 52px;
                    border: 4px solid #1a1aff;
                    margin: 5px auto;
                }
                .fa-fire-flame-curved {
                    font-size: 42px;
                    color: rgba(230, 46, 0, 0.75);
                    background: #efef45;
                    padding: 6px;
                    border-radius: 3px;
                }


.container_our_product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    gap: 1.3em;

}

.grid-1-wrapper {
    /* height: 50.875em; */
    margin: auto;
    /* border: 3px solid #e60000; */
    /* border-radius: 0.75em; */

}

.prod-1-img {
    width: 100%;
    height: 15.625em;
    /* border-top-left-radius: 0.75em; */
    /* border-top-right-radius: 14px; */
}

/*======== Our Services Styling ========== */

.our-services {
    border-radius: 12px;
    width: 55%;
    margin: 24px auto;
    line-height: 1.3;
}
.our-services h1 {
    text-align: center;
    background-color: #e60000;
}

.service {
    border: 3px solid rgba(0, 0, 0, 0.36);
    line-height: 1.5rem;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.975em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.13rem;
    padding: 1.25em;
    color: rgba(0, 0, 0, 0.36);
}
/* .service1 {
    /* background-image: linear-gradient(to right, #1a1aff, #e60000); 
}
.service2 {
    /* background-image: linear-gradient(to right, #1a1aff, #e60000); 
    padding: 1.25em;
}
.service3 {
    /* background-image: linear-gradient(to right, #1a1aff, #e60000); 
    padding: 1.25em;
}
.service4 {
    /* background-image: linear-gradient(to right, #1a1aff, #e60000); 
    padding: 1.25em;
} */

.proj-img {
    width: 7rem;
    height: 6rem;
    margin: 0.65em;
    border-radius: 1em;
}


/*------------ About us style  -------------------  */
.about-us div {
    color: rgb(240, 240, 255);
    padding: 3em;    
}

.about-us {
    background: rgb(0, 0, 0); 
}


/* =========== Form Styling Starts ================== */
.form-section {
    background: #000;
    margin: -1.55em;
    padding: 2em;
}
form {
    display: flex;
    flex-direction: column;
    background: #e60000;
    padding: 14px;
    max-width:45%;
    margin: 22px auto;
    border-radius: 0.5em;
}
 label {
     margin-top: 16px;
 }

 .submit-btn {
     margin: 18px auto 0;
     width: 60%;
     height: 2em;
     background: #1a1aff;
     color: #fff;
     font-size: 1.2em;
     border: none;
     outline: none;
     border-radius: 6em;
     cursor: pointer;
 }



 /* ---------- footer   ------------------ */
 footer {
     background: rgba(0, 0, 0, 0.85);
     color: rgb(200, 200, 255);
     padding: 4em;
 }

@media only screen and (max-width:900px){
    .menu-togle {
        position: absolute;
        top: 1em;
        right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1.1em;
        height: 1.1em;
        cursor: pointer;
    }
    

    .menu-togle span {
        padding: 0.25em;
        padding: 0.1em;
        margin-top: 0.5em;
        width: 2em;
        height: 0.3em;
        background: #fff;
        z-index: 999;
    } 
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .navlist{ 
        display: none;
    }

    .navlistdiv ul {
        position: absolute;
        background: rgb(25, 55, 95);
        flex-direction: column;
        width: 100%;
    }
    .active {
        display: flex;
    }

    .navlistdiv ul li {
        margin-top: 2em 0;
        text-align: center;
        color: #111;
        padding: 1em;


    }

    .navlistdiv ul li a {
    color: #fff;
    }

    .navlistdiv ul li:hover{
        background: #000;
        /* background: rgb(26, 7, 124); */
        display: block;
        width: 100%;
        font-size: 1.35rem;
    }


    .top_contact {
        display: none;
    }


    
     
    
    .cta-wrapper .cta-1{
        line-height:1.65em; 
        color:#fff; 
        width: 100%; 
        margin: 0; 
        padding:1.5em;
         background: #1a1aff; text-align:center; 
        font-size: 1.5rem; 
    }
    
    .cta-img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-image: linear-gradient(); */
        
    }

     .cta-img {
        width: 21em;
        height: 21em;
        margin-bottom: 0.72em;
    }

    .slider_two {
        border-radius: 0.35em;
        display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        width: 90%;
        margin: 0 auto;
        
    }
    .slider_two img{
        width: 100%;
        border-radius: 0.31em;
    } 

    .slider_three {
        width: 90%;
        margin: auto;
        padding: 0.875em;
    }

    .slider_three figure{
        /* border: #FFbC00 solid 3px; */
        flex-direction: column;
        align-items: center;

    }

    .slider_three img{
        width: 100%;
        height: 18em;
        border-radius: 0.45em;


    } 

    /* ----------our product style --------------- */
    .container_our_product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-1-wrapper {
        border: none;
        
    }

    .prod-1-img{
        border-radius: 0;
    }
    
    /* ========= ------our services styles-----======= */
    
    .our-services {
        border-radius: 12px;
        line-height: 1.3;
        width: 75%;
        margin: 24px auto;
        line-height: 1.3;
    }

    .our-services h1 {
        text-align: center;
        margin-bottom: 1.75em;
        padding: 0.75em;
    }
    
    .service {
        margin: auto;        
        line-height: 1.5rem;
        margin-bottom: 0.975em;
    }

    
    .proj-img {
        width: 7rem;
        height: 6rem;
        margin: auto;
    }



/* ----------swiper js----------- */
.swiper {
    width: 85%;
    height: 22em;
    z-index: -13;
    border-radius: 1em;
    margin-top: 1em;

}

form {
    display: flex;
    flex-direction: column;
    background: #e60000;
    padding: 14px;
    min-width: 75%;
    margin: 22px auto;
    border-radius: 0.5em;
}



}