@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
.swiper {
    width: 50%;
    height: 450px;
    z-index: -13;
    border: #e60000 solid 2px;
    border-radius: 1em;
    margin-top: 1em;
}
.swiper-slide{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    background: #e60000;
    color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
    background: rgb(25, 45, 95) ;
    z-index: 999999;
}

.navlistdiv{
    border: 2px solid turquoise;
}

.navlist {
    display: flex;
    align-items: center;
    /* padding-left: 2em; */
}

 .navlist li {
    list-style: none;
}
.navlist li a {
    text-decoration: none;
    padding: 0.75em;
    color: #fff;
    font-size: 1.3em;
    transition: 0.25s;
}

 .navlist li:hover {
    background: rgb(66, 45, 170);
    color: #000;
    border-bottom: 3.5px #e60000 solid;
}
.logo-anchor {
    margin: 0.5em;
}

.logo-name, .logo-name span {
    text-decoration: none;    
}

.menu-togle {
    display: none;
    padding: 1.3em;
    /* border: red solid 3px; */
}

.logo-img {
    width: 2.5em;
    height: 2.5em;
}

.top_contact {
    background:rgba(255, 255, 255, 0.75);
    padding: 0.75em;
    margin-right: 1em;
    border-radius: 0.75em;
}

/* --------main styling-------------- */

.slider_one {
    background-image: linear-gradient(65deg, #00a 50%, rgba(0, 0, 187, 0.16) -30%), url("images/first-img.jpg");
    background-origin:  padding-box; 
    background-position:  center;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-top: 3em;
    padding: 1.7em;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    height: 100vh;
    line-height: 1.5;
}
.slider_one h1{
    margin: 1em auto;
    font-size: 2.35em;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
}

.slider_one ul {
    font-size: 1.2em;
}

/* =-=-=-=-buttons styles=-=-=-=-=-=- */
.btn-us{
    background: #25D366;
    outline: none;
    border: none;
    margin-top: 1.85em;
}
.action-btn {
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}


/* =-=-=-=-=-=-=-=-=cta section styles stars-=-=-=-=-=-=-=-=-=-=- */

.cta-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    line-height: 1.5rem;
    margin: auto;
} 

.cta-img{
    border-radius: 8px;
    width: 25em;
    height: 25em;
}

.cta-sect .cta-wrapper p {
    padding: 2% 10%;
    margin: 0.75em auto;
}

.cta-wrapper .cta-1{
    line-height:1.65em;
    border-radius: 4px; 
    color:#fff; 
    width: 30em; 
    margin: auto; 
    padding: 1.5em;
     background: #1a1aff; text-align:center; 
    font-size: 1.5rem; 
}

.cta-1 button {
    width: 190px;
    height: 37px;
    padding: 0.75em 1.5em;
    margin: 2em 1em 0 1em;
    border: none;
    border-radius: 68px;
    background: rgba(230, 0, 0, 0.94);
    color: #fff;
}

.cta-1 button a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.4em;

}
 
/* -----==-=-====Slider_two styles starts here====-=-=-=-=-=-=-= */

  .slider_two {
      display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background: rgb(5, 18, 49);
      color: #fff;
      padding: 3em;
      
  }
  .swipe_msg_two h2 {
      color: #e60000;
      text-align: center;
  }
  .swipe_msg_two h4 {
      color: #FFbC00;
      text-align: center;
  }
  .slider_two img{
      width: 400px;
  } 

  .swipe_msg_two{
    margin-right: 1em;
}

.swipe_msg_two ul li {
    margin: 0.75em 0;

}
 /* ========== slider_three style starts here ========-= */
 .slider_three {
     /* width: 50%; */
     margin: auto;
 }

.swipe_msg_three {
    padding: 1.25em;
    
}

.slider_three figure{
    display: flex;
    gap: 18px;
}
.swipe_msg_three img {
    position: relative;
    width: 50%;
    height: 33em; 
    border-radius: 0.45em;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.54);  
    animation: move3 1.35s 1; 
    z-index: -2;
}

@keyframes move3 {
    from{left: -2px;}
    to{left: 507px}
    
    
}

.swipe_msg_three h2, .swipe_msg_three p {
    text-align: center;
    margin: 0.75em;
}


/* =================
Our Product styles stars  ============== */

.our-prd {
    text-align: center;
}
 
 

.container_our_product {
    margin: 0.45em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1.3em;
    padding: 2em;
}

.our-prd-h1{
    margin-bottom: 0.75em;
    text-align: center;
    background-color: #000;
    width: 100%;
    color: rgb(26, 26, 255);
}



.grid-1-wrapper {
    height: 250px;
    position: relative;    
    /* width: 250px; */
    /* margin: auto; */
    /* border-radius: 0.75em; */
}


.prod-1-img {
    width: 100%;
    height: 80%;
    opacity: 1;
}

.img-overlay {
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0%;
    bottom: 50%;
    width: 100%;
    height: 0%;
    background: #008CBA;
    transition: 1.5s ease-in-out;
    overflow: hidden;
}

.img-overlay a {
    color: #eeeeff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
}

.para-text {
    text-align: center;
    background: #1a1aff;
    display: block;
    margin-top: -0.15em; 
    height: 20%;
    padding: 0.75em;
    font-weight: 600;
    color: #fff;
}

.grid-1-wrapper:hover .img-overlay {
    opacity: 0.95;
    height: 100%;
    bottom: 0;
}
.grid-1-wrapper:hover .para-text {
    opacity: 0.89;
   
}

.slider_three p{
    width: 50%;
    margin: 2em auto;
}




/* XXXXXXXXXXXXXXXXXXXX----- Stone Tiles Style ----XXXXXXXXXXXXXXX */

/*.stone-coated .img-stone-tiles {
    width: 75%;
    height: 20em;
    margin: 1em auto;
    background-image:  url("images/STONE-TILE.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.why-use-stone-coated {
    width: 55%;
    margin: auto;
    text-align: center;
}*/

.stone-coated .img-stone-tiles {
    width: 75%;
    height: 30em;
    text-align: center;
    color: #1a1aff;
    margin:  auto;
    border: 3px solid red;
    background-image:  url("images/STONE-TILE.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.why-use-stone-coated {
    width: 45%;
    margin: auto;
    text-align: center;
}

.why-use {
    width: 45%;
    padding: 1em;
    margin: auto;
}

.why-use img {
    width: 100%;
}



/*======== Our Services Styling ========== */

.our-services {
    border-radius: 12px;
    width: 55%;
    margin: 7em auto;
    line-height: 1.3;
    
}
.our-services h1 {
    margin: 1em;
    text-align: center;
    background-color: #e60000;
}

.service {
    /* border: 3px solid rgba(0, 0, 0, 0.36); */
    line-height: 1.5rem;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.975em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.13rem;
    padding: 1.25em;
    color: rgba(0, 0, 0, 0.56);
}

.proj-img {
    width: 7rem;
    height: 6rem;
    margin: 0.65em;
    border-radius: 1em;
}


/*-------------------- not a rocket science------------------ */
.estimate {
    background-image: url("images/alucoil_1.jpg"), linear-gradient(45deg, rgba(26, 26, 255, 0.212), rgba(26, 26, 255, 0.337));
    padding: 1em;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background-size: cover;
    font-size: 1.3em;
    font-weight: 700;
    width: 100%;
    border: 6px solid red;
}





/* =================================================== */
/*------------ About us style  -------------------  */
/* =================================================== */


.about-us {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    width: 90%;
    /* border-left: 1px solid #0000004d; */
    /* border-right: 1px solid #0000004d; */
    margin: auto;
    padding: 0.75em;
}

.about-us div {
    /* /* color: rgb(240, 240, 255);  */
    padding: 1.6em;    
}

.service-ul{
    margin: 0em;
}
.service-ul li{
    margin: 1.75em auto;

}

.office-address {
    border: 2px dotted #e600009e;
    background: rgb(10, 25, 140);
    margin: 0.75em auto;
    width: 50%;
    color: #ffffff;
    line-height: 1.57em;
}

.about-us .the-ceo {
    /* border: 2px double #0ea04e; */
    /* background: rgb(0, 0, 0); */
    margin: 1em auto 1em;
    color: rgb(20, 20, 25);
}

.about-us .the-ceo img {
    width: 8.6em;
    height: 8.6em;
    border-radius: 50%;
}

.the-ceo figure {
    display: flex;
    align-items: center;  
    justify-content: space-evenly; 
}
.the-ceo figure figcaption  {
    display: flex;
    align-items: center;  
    justify-content: space-evenly; 
}

.about-us .the-ceo h2 {
    text-align: center;
    margin-bottom: 1em;
}

#ceo-close h2{
    text-align: left;
    text-align: left; 
    line-height: 0;
    margin-top: 0;
}

/* ----------Social-media-btn styling-------------------- */
.figcap {
    display: flex;
    background: rgb(10, 20, 50);
    padding: 1.75em;
    justify-content: center;
    align-items: center;
    border-radius: 0.35em;
}

.figcap a:first-child{
    margin-left: 0;
}
.figcap a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 1.5em;
    text-align: center;
    color: #fff;
    transition: 1s;
}

.figcap a:hover {
    transform: translateY(18px);
}

.fa-twitter {
    font-size: 1em;
}
.fa-linkedin{
    color: #0072b1;
    font-size: 1.5em;
}


/* =========== Form Styling Starts ================== */
.form-section {
    /* background: #000; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    /* border-left: 1px solid #0000004d; */
    /* border-right: 1px solid #0000004d; */
    margin: auto;
    padding: 2em;
}
form {
    display: flex;
    flex-direction: column;
    background: #e60000;
    padding: 14px;
    max-width:75%;
    margin: 22px auto;
    border-radius: 0.5em;
}
 label {
     margin-top: 19px;
 }
input {
    height: 2.25em;
    padding: 0.75em;
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(228, 238, 248);
    background: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1.15rem;
}
  textarea {
      border: none;
      outline: none;
      font-family: 'Ubuntu', sans-serif;
      border-radius: 0.35rem;
      padding: 1rem;

  }
 .submit-btn {
     margin: 18px auto 0;
     width: 60%;
     height: 2em;
     background: #1a1aff;
     color: #fff;
     font-size: 1.2em;
     border: none;
     outline: none;
     border-radius: 0.45em;
     cursor: pointer;
 }



 /* ---------- footer   ------------------ */
 footer {
     background: rgba(0, 0, 0, 0.85);
     color: rgb(200, 200, 255);
     padding: 1em;
     text-align: center;
 }






 

 
@media only screen and (max-width: 950px){
    .menu-togle {
        position: absolute;
        top: 1em;
        right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1.1em;
        height: 1.1em;
        cursor: pointer;
    }
    

    .menu-togle span {
        padding: 0.25em;
        padding: 0.1em;
        margin-top: 0.5em;
        width: 2em;
        height: 0.3em;
        background: #fff;
        z-index: 999;
    } 
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .navlist{ 
        display: none;
    }

    .navlistdiv ul {
        position: absolute;
        background: rgb(25, 55, 95);
        flex-direction: column;
        width: 100%;
    }
    .active {
        display: flex;
    }

    .navlistdiv ul li {
        margin-top: 2em 0;
        text-align: center;
        color: #111;
        padding: 1em;


    }

    .navlistdiv ul li a {
    color: #fff;
    }

    .navlistdiv ul li:hover{
        background: #000;
        /* background: rgb(26, 7, 124); */
        display: block;
        width: 100%;
        font-size: 1.35rem;
    }


    .top_contact {
        display: none;
    }

    .cta-wrapper .cta-1{
        line-height:1.65em; 
        color:#fff; 
        width: 100%; 
        margin: 0; 
        padding:1.5em;
         background: #1a1aff; text-align:center; 
        font-size: 1.5rem; 
    }
    
    .cta-img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-image: linear-gradient(); */
        
    }

     .cta-img {
        width: 21em;
        height: 21em;
        margin-bottom: 0.72em;
    }

    .slider_two {
        border-radius: 0.35em;
        display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        width: 90%;
        margin: 0 auto;
        
    }
    .slider_two img{
        width: 100%;
        border-radius: 0.31em;
    } 

    .slider_three {
        width: 90%;
        margin: auto;
        padding: 0.875em;
    }

    .slider_three figure{
        /* border: #FFbC00 solid 3px; */
        flex-direction: column;
        align-items: center;

    }

    .slider_three img{
        width: 100%;
        height: 18em;
        border-radius: 0.45em;


    } 

    .slider_three p{
        text-align: justify;
        width: 100%;
        margin: 2em auto;
    }

    /* XXXXXXXXXXXXXXXXXXXX----- Stone Tiles Style ----XXXXXXXXXXXXXXX */

.stone-coated .img-stone-tiles {
    width: 75%;
    height: 30em;
    margin:  auto;
    background-image:  url("images/STONE-TILE.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.why-use-stone-coated {
    width: 95%;
    margin: auto;
    text-align: center;
}

.why-use {
    width: 95%;
    padding: 1em;
    margin: 1em;
}

.why-use img {
    width: 100%;
    text-align: justify;
}
.why-use ul li {
    margin-top: 2em;
    
}
    /* ----------our product style --------------- */
    .container_our_product {
        margin-top: 1.75em;
        grid-template-columns: 1fr;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }

    .grid-1-wrapper {
        border: 2px solid powderblue;
        width: 300px;
        margin: auto;
        overflow: hidden;
    }

    .prod-1-img{
        border-radius: 0.25rem;
    }
    
    /* ========= our services styles ======= */
    
    .our-services {
        border-radius: 12px;
        line-height: 1.3;
        width: 300px;
        margin: 24px auto;
        line-height: 1.3;
    }

    .our-services h1 {
        text-align: center;
        margin-bottom: 1.75em;
        padding: 0.75em;
    }
    
    .service {
        margin: auto;        
        line-height: 1.5rem;
        margin-bottom: 0.975em;
    }

    
    .proj-img {
        width: 7rem;
        height: 6rem;
        margin: auto;
    }
    /* =================================================== */
/*------------ About us style  -------------------  */
/* =================================================== */

.about-us {
    border: 5px solid powderblue;
    margin: 0%;
    position: relative;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    width: 100%;
    /* border-left: 1px solid #0000004d; */
    /* border-right: 1px solid #0000004d; */
    /* margin: auto; */
}

.about-overlay {
    background-image: linear-gradient(to right, rgba(73, 3, 255, 0.4), rgba(19, 19, 222, 0.4)),  url("images/rooftile-bg.jpg");
    color: #ffffff;
    width: 100%;
    margin: auto;
    
}

.about-us .the-ceo {
    /* background: rgb(0, 0, 0); */
    margin: 1em auto 1em;
    color: rgb(2, 2, 5);
    width: 100%;  

}

.about-us .the-ceo img {
    width: 8.6em;
    height: 8.6em;
    border-radius: 50%;
}

/* .the-ceo figure {
    display: flex;
    align-items: center;
    flex-direction: column;  
    justify-content: space-evenly; 
}
.the-ceo figure figcaption  {
    display: flex;
    align-items: center;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 1em;
}

.the-ceo figure figcaption a  {
    margin-top: 1.25em;

} */

.about-us .the-ceo h2 {
    text-align: center;
    margin-bottom: 1em;
}

#ceo-close h2{
    text-align: left;
    
}

.office-address{
    width: 100%;
}

/* ----------Social-media-btn styling-------------------- */
.figcap {
    display: flex;
    background: rgb(10, 20, 50);
    justify-content: space-between;
    align-items: center;
    border-radius: 0.35em;
}

.figcap a h4 {
    display: none;
}

.figcap a:first-child{
    margin-left: 0;
}
.figcap a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 1.5em;
    text-align: center;
    color: #fff;
    transition: 1s;
}

.figcap a:hover {
    transform: translateY(18px);
}

.fa-twitter {
    font-size: 1em;
}
.fa-linkedin{
    color: #0072b1;
    font-size: 1.5em;
}






/* ----------swiper js----------- */
.swiper {
    width: 85%;
    height: 22em;
    z-index: -130;
    border-radius: 1em;
    margin-top: 1em;

}

form {
    min-width: 100%;
}

.form-section {
    background-image: linear-gradient(30deg, #1a1aff69, #0000ff4f ), url("images/black-roof-tile-seamless-vector-background.jpg");
    width: 100%;
}

}
